<section class="banner-section">
 <div class="carousel-container">
  <div class="carousel-images" [style.transform]="'translateX(-' + currentImageIndex * 100 + '%)'">
 @for (image of carouselImages; track $index) {
  <img [src]="image" alt="American Flag Banner" [style.left]=" $index * 100 + '%'" [style.opacity]="currentImageIndex === $index ? 1 : 0" [style.zIndex]="currentImageIndex === $index ? 1 : 0">
 }
  </div>
  <button class="prev-button" (click)="prevImage()">&lt;</button>
  <button class="next-button" (click)="nextImage()">&gt;</button>
  <div class="carousel-dots">
    @for (image of carouselImages; track $index) {
 <span class="dot" [class.active]="currentImageIndex === $index" (click)="changeImage($index)"></span>
 }
  </div>
 </div>
</section>
<section class="clubs-description-section">
  <div class="description-content">
    <p>St. Tammany Parish has five active Republican Clubs, four women's groups and one men's group. These groups meet on different days of the week and at different times. All meetings feature a speaker who may be a local and state elected official or an expert in their field speaking on topical subjects.</p>
    <div class="graph-placeholder">
      <!-- Placeholder for graph -->
      <img src="/voter_chart.svg" alt="" srcset="">
    </div>

  </div>
</section>
<section class="club-logos-section">
  <h2>Clubs</h2>
  <div class="logo-container">
    @for (club of clubs; track club.id) {
     @if(club.slug != null){ 
      <a [routerLink]="['/clubs', club.slug]">
        <img [src]="club.logo" [alt]="club.name" [title]="club.name"/>
        <br>
  <span>{{club.name}}</span>  
  </a>
     }@else {
      <span>
        <img [src]="club.logo" [alt]="club.name" [title]="club.name"/>
        <br>
      <span>{{club.name}}</span>  
      </span>
      
     }


    }
    

  </div>
</section>