header {
  background-color: #f5f5f5; /* Light grey background for the header */
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.carousel-container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.carousel-container:hover .prev-button,
.carousel-container:hover .next-button {
  opacity: 1;
}

@media (max-width: 768px) {
 .prev-button,
 .next-button {
    display: none;
  }
}

.carousel-images {
  position: relative;
  height: 500px; /* Set a fixed height for the carousel */
}

.carousel-images img {
 position: absolute;
 top: 0;
  width: 100%;
  width: 100%;
  object-fit: cover; /* Crop images to fit */
  display: block;
}

.prev-button, .next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.1); /* More transparent white for glassmorphism */
  backdrop-filter: blur(10px); /* Blur effect for glassmorphism */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  color: white;
  border: none;
  padding: 15px; /* Increased padding for larger buttons */
  cursor: pointer;
  z-index: 1;
  opacity: 0; /* Hide the buttons by default */
  transition: opacity 0.3s ease-in-out; /* Smooth transition for showing/hiding */
  border-radius: 50%; /* Make buttons circular */
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.prev-button::before {
   /* Left arrow character */
  font-size: 2em; /* Adjust size of the arrow */
}

.next-button::before {
   /*content: '\\203A'; Right arrow character */
  font-size: 2em; /* Adjust size of the arrow */
}

.carousel-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.description-content {
  display: flex;
  gap: 3rem; /* Add space between the text and the graph placeholder */
}

.description-content p{
  line-height: 1.5;
  font-size: 1.2em;
 }

/* Media query for smaller screens */
@media (max-width: 768px) {
  .description-content {
    flex-direction: column; /* Stack items vertically */
  }
  .logo-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 3 columns */
    gap: 1rem; /* Add some space between logos */
     /* Center items vertically */
    text-align: center;
  }
  
  .text-section {
    margin-bottom: 1rem;
  }
  .carousel-images {
    position: relative;
    height: 200px; /* Set a fixed height for the carousel */
  }
}

@media (min-width: 1200px) {
  .description-content p{
    width: 50%;
   }
   .logo-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 1rem; /* Add some space between logos */
   
    text-align: center;
  }
  
}

.description-content img {
  width: 100%;
}

.text-section {
  flex: 1 1 500px; /* Allow the text section to grow and shrink, with a base width of 500px */
  max-width: 700px; /* Limit the maximum width of the text section */
}



.clubs-section h2 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.club-logos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Responsive grid with minimum item width of 150px */
  gap: 2rem; /* Space between the logos */
  padding: 0 2rem 2rem; /* Padding around the grid */
}


.logo-container img {
  border-radius: 50%; /* Make images circular */
  width: 200px; /* Adjust the size as needed */
  height: 200px; /* Adjust the size as needed */
  object-fit: cover; /* Ensure the image covers the circular area */
}

.logo-container a {
  text-decoration: none; /* Remove underline */
  color: #d50000; /* Set text color */
  font-weight: 700; /* Set font weight */
}


.clubs-description-section{
  padding: 1em
}